.fixed-menu {
  position: fixed;
  top: 20%;
  right: calc(50% - 500px);
  z-index: $z-fixed-menu;
  color: #fff;

  &--shadowed {
    color: #000;
    .fixed-menu__link:before {
      background: #000;
    }
    
  }
}


.fixed-menu__item {
  margin-bottom: 5px;

  &--active {
    .fixed-menu__link {
      border-color: inherit;
    }
  }
}

.fixed-menu__link {
  width: rem(16px);
  height: rem(16px);
  display: block;
  border-radius: 50%;
  border: rem(1px) solid transparent;
  position: relative;

  &:before {
    content: "";
    display: block;
    width: rem(6px);
    height: rem(6px);
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}