.form {
  display: flex;

  @include tablets {
    flex-direction: column;
    max-width: 466px;
    margin: 0 auto;
  }
}

.form__col {
  flex: 1;
  margin-right: rem(27px);
  
  &:last-child {
    margin-right: 0;
  }

  @include tablets {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: rem(12px);
}

.form__block {
  flex: 1;
  margin-right: rem(15px);
  position: relative;
  
  &:last-child {
    margin-right: 0;
  }
}

.form__comment {
  width: 100%;
  padding: rem(16px) rem(12px);
  border-radius: 4px;
  border: 3px solid transparent;
  outline: none;
  
  &:focus {
    border-color: #DEE2BD;
  }

  &--error {
    border: 1px solid red;
  }

  @include tablets {
    padding: 7px 10px;
  }
}

.form__comment--textarea {
  height: rem(152px);
  resize: none;
  display: block;

  @include tablets {
    height: rem(86px);
  }
}

.form__error {
  font-size: rem(16px);
  color: red;
  position: absolute;
  left: 0;
  top: 100%;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  padding-top: rem(10px);

  @include phones {
    justify-content: center;
  }
}

.form__buttons {
  display: flex;
  padding-top: rem(22px);
  font-size: rem(16px);

  @include tablets {
    display: flex;
    justify-content: center;
  }
}