.menu {
  display: flex;
  align-items: center;

  @include tablets {
    display: none;
  }
}

.menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.menu__item {
  margin-right: rem(27px);

  &:last-child {
    margin-right: 0;
  }
}

.menu__link {
  white-space: nowrap;
}

.menu-vertical {
  color: #fff;
  font-size: rem(36px);
  line-height: rem(72px);
  padding: rem(135px) 0;

  @include tablets {
    display: flex;
  }

  &__list {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__item {
    margin-bottom: rem(10px);
  }
}