.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
}

.modal__block {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.modal__content {
  color: #000;
  line-height: 1.2;
  display: flex;
  text-align: center;
  margin-bottom: rem(20px);
  min-width: rem(176px);
}