.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &:not(:last-child):after {
    content: "";
    position: absolute;
    background: url("../img/features/Combined-shape.png") center center no-repeat;
    left: 80%;
    top: 18%;
    width: 50%;
    height: 20%;
  }

}

.card__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.card__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background: #F2F5F4;
  position: relative;
  padding: 20px;
  margin-bottom: 20px;

  

 
}


  // @each $card__icon in (man, smile, hand) {
  //   &--#{$card__icon} {
  //     &:after {
  //       background: url("../../img/features/#{$card__icon}.png") center center no-repeat;
  //     }
  //   }
  // }

.card__item {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.card__title {
  margin-bottom: 18px;
}

.card__text {
  text-align: center;
  color: #666666;
  line-height: 22px;
}