.contacts {
  display: flex;
  align-items: center;
  position: relative;
  font-style: normal;
}

.contacts__handset {
  margin-right: rem(6px);
}

.contacts__phone {
  font-size: rem(22px);
  margin-left: rem(18px);
  position: relative;
  
  &:before {
    content: "";
    background: url("../img/phone.png") center center no-repeat;
    width: rem(15px);
    height: rem(15px);
    display: flex;
    align-items: center;
    position: absolute;
    top: rem(8px);
    left: rem(-18px);
  }
}

.contacts__phone--green {
  color: $green;
  display: flex;
  font-size: rem(21px);
  position: relative;
  
  &:before {
    content: "";
    background: url("../img/phone1.png") center center no-repeat;
  }
}