.delivery {
  background: url("../img/delivery/bg_delivery.png") center center no-repeat;
  position: relative;

  &:after {
    content: "";
    display: block;
    background: url("../../img/berry-bg/berry.png") right top no-repeat;
    position: absolute;
    width: 196px;
    height: 264px;
    top: -165px;
    right: 0;
  }
}


.delivery-container {
  padding: 62px 0px 85px;
  color: #365A49;
  
  &:after {
    content: "";
    display: block;
    background: url("../img/berry-bg/berry_3.png") center/contain no-repeat;
    position: absolute;
    width: 47px;
    height: 48px;
    left: -30px;
    bottom: 68px;
  }

  &:before {
    content: "";
    display: block;
    background: url("../img/leaf-bg/decor7.png") right top no-repeat;
    position: absolute;
    width: 135px;
    height: 188px;
    right: -68px;
    bottom: 58px;
  }
}

.delivery__title {
  text-align: center;
  margin-bottom: 59px;
}