.delivery {
  background: url("../img/delivery/bg_delivery.png") center center no-repeat;

}


.delivery-container {
  padding: 62px 0px 85px;
  color: #365A49;
}

.delivery__title {
  text-align: center;
  margin-bottom: 59px;
}