.features {
  background: url("../../img/features/leaf2.png") left center no-repeat;
  background-color: #fff;
  
  &__container {
    padding: 100px 0px;
  }
    
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 49px;
  }
  
  &__title {
    text-transform: uppercase;
    margin-bottom: 19px;
  }
  
  &__text {
    max-width: 436px;
    text-align: center;
  }
  
  &__list {
    display: flex;
    justify-content: space-between;
  }
  
  &__cards {
    width: calc(100%/3 - 29px);
  }
}
