.form {
  display: flex;
}

.form__col {
  flex: 1;
  margin-right: 27px;
  
  &:last-child {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: 12px;
}

.form__block {
  flex: 1;
  margin-right: 15px;
  
  &:last-child {
    margin-right: 0;
  }
}

.form__comment {
  width: 100%;
  padding: 19px 12px;
  border: solid 3px transparent;
  
  &:focus {
    border-color: #DEE2BD;
    outline: none;
  }
}

.form__comment--textarea {
  height: 152px;
  resize: none;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
}

.form__buttons {
  display: flex;
}