.hero {
  background: url("../../img/bg_hero/chocolate_1.png") right 13% center/45% no-repeat,
    url("../img/bg_hero/leaf.png") right bottom no-repeat;
  background-color: $blue;

  &-container {
    color: #fff;
    padding: 24px 0px 50px;
    position: relative;
    justify-content: space-between;
  }

  &-container::after {
    content: "";
    position: absolute;
    width: 59px;
    height: 113px;
    background: url("../img/leaf-bg/decor2.png") center center no-repeat;
    bottom: -6%;
    left: -5%;

  }

  &-container::before {
    content: "";
    position: absolute;
    width: 520px;
    height: 366px;
    background: url("../../img/bg_hero/mix.png") right bottom no-repeat;
    bottom: -6%;
    right: -70px;

  }
}

.hero__content {
  width: 35%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin-bottom: 64px;
}

.hero__title {
  margin-bottom: 17px;
}

.hero__text {
  font-size: 21px;
  margin-bottom: 32px;
}