.menu {
  display: flex;
  align-items: center;
  margin-right: rem(42px);

  @include tablets {
    display: none;
  }
}

.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__item {
  margin-right: rem(27px);
  
  &:last-child {
    margin-right: 0;
  }
}