.shop-section {
  background-color: #F8FAF9;
  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    background: url("../img/berry-bg/berry_2.png")left bottom 46% / contain no-repeat,
      url("../img/shop/leaf-bg.png") left bottom / contain no-repeat;
    z-index: 1;
    width: rem(200px);
    height: rem(460px);
    right: 0;
    bottom: rem(-250px);
  }
}

.shop__sliders-wrap {
  display: flex;
  overflow: hidden;
  max-width: rem(940px);

  @include tablets {
    max-width: rem(768px);
  }
}

.shop-slider {
  display: flex;
  padding: rem(66px) rem(0px) rem(110px);
  position: relative;
  transition: right 1s;
  will-change: right;
}

.shop-slider__arrow--left {
  width: rem(20px);
  height: rem(20px);
  border-top: 3px solid #000;
  border-left: 3px solid #000;
  transform: rotate(-45deg);
  border-radius: 2px;
  position: absolute;
  top: 47%;
  left: rem(-16px);
  cursor: pointer;
  z-index: 10;

  @include tablets {
    top: 26%;
    left: rem(80px);
  }

  @include phones {
    left: rem(20px);
  }
}

.shop-slider__arrow--right {
  width: rem(20px);
  height: rem(20px);
  border-right: 3px solid #000;
  border-bottom: 3px solid #000;
  transform: rotate(-45deg);
  border-radius: 2px;
  position: absolute;
  top: 47%;
  right: rem(-16px);
  cursor: pointer;
  z-index: 10;

  @include tablets {
    top: 26%;
    right: rem(146px);
  }

  @include phones {
    right: rem(20px);
  }
}

.shop__sliders {
  display: flex;
  position: relative;
  right: 0;

}

.shop__item {
  display: flex;
  // padding: rem(66px) rem(0px) rem(110px);

  @include tablets {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: rem(126px);

    // &::before {
    //   content: "";
    //   display: block;
    //   width: 100%;
    //   background: url("../../img/shop/granola-grape-tablets.png") center center / contain no-repeat;
    // }
  }

  @include phones {
    padding-top: rem(40px);
  }
}

.slide__block {
  display: flex;
  flex-direction: column;


  @include tablets {
    text-align: center;
  }
}

.slide__block--left {
  margin-right: 2.4444444444rem;
  margin-left: rem(-50px);
  padding-top: rem(30px);

  @include tablets {
    width: 70%;
    margin-left: 0;
  }
}

.slide__block--right {
  width: 38%;

  @include tablets {
    width: 70%;
  }
}


.slide__detail {
  min-width: rem(380px);
}

.slide__title {
  margin-bottom: rem(23px);

  @include tablets {
    font-size: rem(30px);
    line-height: rem(36px);
  }
}

.slide__text {
  margin-bottom: rem(24px);
  line-height: rem(22px);
}

.slide__elem {
  display: flex;
  margin-bottom: rem(24px);
  line-height: rem(22px);
  align-items: flex-start;

  &:last-child {
    margin-bottom: 0;
  }

  @include tablets {
    justify-content: center;
  }
}

.slide__list {
  display: flex;
  flex-direction: column;
  margin-right: rem(44px);

  &:last-child {
    margin-right: 0;
  }

  @include tablets {
    align-items: flex-start;
  }
}

.param__item--bold {
  color: #000;
}

.slide__price {
  font-size: rem(60px);
  font-weight: 300;
  line-height: 1;
  color: #151515;
  min-width: rem(148px);
}